
.fondoMenu{
    width: 100%;
    height: auto;
    border-radius: 1px ;
    border-color: black;
}

.seccionOfertas {
    
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #F5F0EE;
    height: 135em;

}

.seccionOfertas h2{
    color: #51C0FC;
    margin-left: 5%;
    
}

.seccionOfertas h4{
    color: #1B9EDF;
    margin-left: 5%;
}

.seccionOfertas p{
    margin-left: 5%;
    margin-right: 5%;
}

.listaOfertas li{
    display: block;
    float: left;
    
}

.ofertas{
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    background-color: #FFFBF3;
    width: 17%;
    height: 30rem;
    border: 3px solid #F4F7F9;
    border-radius: 5%;
    /*box-shadow: black 1px 1px 1px;*/

}

.ofertas:hover{
    border-color: #51C0FC;
}

.descripcion{
    font-size: 12px;
    color: #1B9EDF;
}

.imagen{
    width: 95%;
    height: 12em;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.btnOferta{
    width: 50% !important;
    height: 3em !important;
    
    font-size: 16px !important;
    border: 1px solid #1B9EDF !important;
    box-shadow: #1B9EDF 1px 1px 2px !important;
    border-radius: 8px !important;
    background-color: #51C0FC !important;
    margin-left: 40% !important;
    margin-bottom: 3rem !important;
    
}


