.info-destino{
    margin-left: 20%;
    margin-right: 20%;
    height: 65em;
    width: 60%;
    background-color: #F5F0EE;
    
}

.imagen{
    margin-left: 1em;
    margin-top: 1em;
    width: 60%;
    height: 30em;
    border-radius: 10px;
}

.info-destino h1{
    font-style: italic;
    font-size: 40px;
    float: right;
    margin-top: 1%;
    margin-left: 8% !important;
    margin-right: 14%;

}

.itinerario{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -37.5%;
    height: 27em;
    width: 35%;
    float: right;
    background-color: #fff;
    border: 3px solid rgb(15, 207, 233);
    border-radius: 10px;

}

.itinerario label{
    font-size: 14px;
    display: grid;
    margin-left: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.itinerario h3{
    float: left;
    padding-left: 2em;
}

.boton_reserva{
    margin-right: 1em;
    margin-top: -0.5em;
    height: 3em;
    width: 8em;
    float: right;
    background-color: rgb(15, 207, 233);
    border: 1px solid #1B9EDF;
    border-radius: 5px;
}

.form-control{
    margin-top: 0 !important;
    margin-left: 1.5em !important;
    width: 65% !important;
    height: 2em;
    border-radius: 2px !important;
    color: #333 !important;
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 5px !important;
    
}

.select-date{
    margin-left: 1.5em;
    border-radius: 2px !important;
    color: #333 !important;
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 5px !important;
}

.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.select-date::-webkit-calendar-picker-indicator{
    background: transparent !important;
}

.custom-select{
    width: 50% !important;
    margin-left: 1.5em;
    color: #333 !important;
    font-size: 14px !important;
    border: 1px solid #333 !important;
    box-shadow: none !important;
    border-radius: 5px !important;
    background: transparent !important;
}

.custom-select option{
    color: #000;
}

.select-number{
    width: 15% !important;
    margin-left: 1.5em;
    border-radius: 2px !important;
    color: #333 !important;
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 5px !important;
}

.compañias{
    width: 15em;
    height: 8em;
    margin-left: 3%;
    margin-right: 8%;
    margin-top: -7%;
    float: right;
}

.compañias h4{
    text-align: center;   
    font-size: 22px;
    font-weight: 600;
    color: #1B9EDF;
}

.compañias li{
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

.compañias img{
    
    width: 50px;
    height: 50px;
}

.vuelos{
    background-color: #fff;
    margin-left: 3%;
    margin-top: 1.5em;
    width: 55%;
    height: 10%;
    border: 2px solid #fff;

}

.vuelos:hover{
    border-color: rgb(15, 207, 233);
}

h3{
    font-size: 24px !important;
    color: #1B9EDF;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

p{
    margin-left: 0.5em;
    font-size: 14px;
    margin-top: -0.5em;
}

#boton1{
    display: none;
}

#boton2{
    display: none;
}

#boton3{
    display: none;
}

.boton_vuelos{
    
    margin-top: -4em !important;
    margin-right: 1em !important;
    height: 2em !important;
    width: 6em !important;
    float: right !important;
    background-color: rgb(15, 207, 233) !important;
    border: 1px solid #1B9EDF !important;
    border-radius: 5px !important;
    
}

.boton_paquetes{
    margin-top: 1em;
    margin-right: 1em;
    height: 2em;
    width: 6em;
    float: right;
    background-color: rgb(15, 207, 233);
    border: 1px solid #1B9EDF;
    border-radius: 5px;
}

#resultado1{
    width: 70% !important;
}

#resultado2{
    width: 70% !important;
}

#resultado3{
    width: 70% !important;
}

.seccionVuelos h2{
    margin-left: 1.5%;
    margin-top: 1%;
}

.seccionVuelos img{
    width: 3%;
    height: 3%;
    float: left;
    margin-left: 11%;
    margin-top: -3.5%;
}

.seccionCruceros h2{
    margin-left: 1.5%;
    margin-top: 1%;
}

.seccionCruceros img{
    width: 5%;
    height: 5%;
    float: left;
    margin-left: 14%;
    margin-top: -3.5%;
}

.paquetes{
    width: 25em;
    height: 12em;
    background-color: white;
    float: right;
    margin-right: 1.5em !important;
    margin-top: -19.5em !important;
    border: 2px solid #fff;
}

.paquetes:hover{
    border-color: rgb(15, 207, 233);
}