body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    width: 100%;
    height: 100%;
    
}

h1{
    font-size: 2rem;
    line-height: 1.3em;
    text-align: center;
}

.h1-2{
    color: #ffffff;
}

p{
    margin-bottom: 1.6em;
}


.container{
    width: 100%;
    
    margin: 0 auto;
}


.header{
    background: rgb(15, 207, 233);
    color:white;
    padding: 2rem 0;

    position: fixed;
    left: 0;
    top:0;
    right:0;
}

    .header a{
     color: white;
        text-decoration: none;
    }   

.logo-nav-container{
    display:flex; /* se acomodarse a diferentes tamaños de pantalla y diferentes dispositivos*/
    justify-content: space-between; /* distribuye el primer elemento en la primera linea y el ultimo en la ultima linea, los elementos del medios se separan a la misma distancia*/
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    letter-spacing: 15px;
    font-size: 1.2em;
}
.menu-icon{
    display: none;
}

.boton-home{
    background: #3498db;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

    .navigation ul li{
     display: inline-block;
    }
        .navigation ul li a{
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.2s linear;
            border-radius: 5px;
        }
            .navigation ul li a:hover {
                background: #4a4a4a;
            }
.main{
    padding-top:12rem;
}

.intro{
    background-color: #333;
}

.slides{
    padding-left: 5%;
}
.destinos{
    background-color: #ffffff;
}

.ciudad-destino{
    
    padding: 2rem 15rem;
    list-style: none;
    text-decoration: none;
    color: #333;
}

    .ciudad-destino li{
        display: inline-block;
    }
        .ciudad-destino li img{
            width: 220px;
            height: 170px;
            text-align: center;
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.2s linear;
            border-radius: 24px;
            text-decoration: none;
            color: #333;
            margin-left: 10px;
        }
        .ciudad-destino li img:hover {            
            transform: scale(1.2,1.2);

        }

.ciudad-destino li h4{
    
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.ciudad-destino h1{
    margin-bottom: 30px;
}

.info-reserva{
    background-color:#3498db;
}
.info-reserva p{
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
}

.footer{
    background: #333333;
    color: white;
    padding: 2rem 0;
    height: 200px;
    text-align: center;
    margin-top: 6rem;
} 

.sobre-nosotros{
   float: left;
   padding: 0 2em;
   width: 500px;
  
}
.menu-rapido{
   
   text-align: center;
   padding: 0 2em;
   margin-left: 50rem;
   width: 300px;
}
.menu-rapido ul{
   list-style: none;
   text-align: center;
}
.menu-rapido ul li{
   text-align: center;
}

.menu-rapido ul li a{
   text-decoration: none;
   text-align: center;
   color: white;
   
}
.redes-sociales{
   margin-top: -155px;
   margin-left: 90rem;
   padding: 0 2em;
   width: 300px;
}
.redes-sociales ul{
   text-align: center;
   list-style: none;
}
.redes-sociales ul li a{
   text-decoration: none;
   color: white;
}
 
@media only screen and (max-width: 767px){
    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    .navigation {

        width: 100%;
        margin-top: 1rem;
    }
        .navigation ul{
            display:none;
        }

        .navigation ul.show{
            display:block;
        }
    
        .navigation ul li{
         display: inline-block;
        }
            .navigation ul li a{
                display: block;
                padding: 0.5rem 1rem;
                transition: all 0.2s linear;
                border-radius: 5px;
            }
                .navigation ul li a:hover {
                    background: #4a4a4a;
                }
 }
