.info-hotel{
    margin-left: 20%;
    margin-right: 20%;
    height: 53em;
    width: 60%;
    background-color: #F5F0EE;
    
}

.imagen{
    width: 60%;
    height: 28em;
    border-radius: 10px;
    margin: 1%;
}

.info-hotel h1{
    font-style: italic;
    font-size: 36px;
    float: right;
    margin-top: 0;
    padding-right: 1em;

}

.itinerario{
    margin-left: 3%;
    margin-right: 2%;
    margin-top: -36%;
    height: 25em;
    width: 35%;
    float: right;
    background-color: #fff;
    border: 3px solid rgb(15, 207, 233);
    border-radius: 10px;

}

.itinerario label{
    font-size: 18px;
    display: grid;
    margin-left: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.itinerario h3{
    float: left;
    padding-left: 2em;
}

.boton_reserva{
    margin-right: 1em;
    margin-top: -0.5em;
    height: 3em;
    width: 8em;
    float: right;
    background-color: rgb(15, 207, 233);
    border: 1px solid #1B9EDF;
    border-radius: 5px;
}

.form-control{
    margin-top: 0 !important;
    margin-left: 1.5em !important;
    width: 25em;
    height: 2em;
    border-radius: 2px !important;
    color: #fff !important;
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 5px !important;
    
}

.select-date{
    margin-left: 1.5em;
    border-radius: 2px !important;
    color: #333 !important;
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 5px !important;
}

.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.select-date::-webkit-calendar-picker-indicator{
    background: transparent !important;
}

.custom-select{
    margin-left: 1.5em;
    color: #333 !important;
    font-size: 14px !important;
    border: 1px solid #333 !important;
    box-shadow: none !important;
    border-radius: 5px !important;
    background: transparent !important;
}

.custom-select option{
    color: #000;
}

.select-number{
    margin-left: 1.5em;
    border-radius: 2px !important;
    color: #333 !important;
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 5px !important;
}

.compañias{
    width: 15em;
    height: 6em;
    margin-top: -5em !important;
    margin-left: 3%;
    margin-right: 6em !important;
    float: right;
}

.compañias h4{
    text-align: center;   
    font-size: 22px;
    font-weight: 600;
    color: #1B9EDF;
}

.compañias li{
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

.compañias img{
    
    width: 50px;
    height: 50px;
}

.habitaciones{
    background-color: #fff;
    margin-left: 1%;
    margin-top: 3em;
    width: 60%;
    height: 15%;
    border: 2px solid #fff;

}

.habitaciones img {
    width: 20% !important;
    height: 6.5em;
    border-radius: 10px !important;
    clear: both;
}

.habitaciones img:hover{
    transform: scale(1.3, 1.3);
    border-radius: 1px solid
}

.habitaciones h3{
    margin-left: 25% !important;
    margin-top: -16% !important;
    font-size: 25px;
}
.habitaciones p{
    float: right;
    margin-top: 0 !important;
    width: 75% !important;
    
}

.habitaciones:hover{
    border-color: rgb(15, 207, 233);
}

h3{
    font-size: px;
    color: #1B9EDF;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

p{
    margin-left: 0.5em;
    font-size: 14px;
    margin-top: -0.5em;
}

.boton_habi{
    margin-top: 1.5em !important; 
    margin-right: -75% !important;
    height: 2em !important;
    width: 6em !important;
    float: right !important;
    background-color: rgb(15, 207, 233) !important;
    border: 1px solid #1B9EDF !important;
    border-radius: 5px !important;
    
}

.boton_paquetes{
    margin-top: -3% !important;
    margin-right: 1em !important;
    height: 2em !important;
    width: 6em !important;
    float: right !important;
    background-color: rgb(15, 207, 233) !important;
    border: 1px solid #1B9EDF !important;
    border-radius: 5px !important;
}

.paquetes{
    width: 35% !important;
    height: 13em !important;
    background-color: white !important;
    float: right !important;
    margin-right: 1.5em !important;
    margin-top: -19em !important;
    border: 2px solid #fff !important;
}

.paquetes:hover{
    border-color: rgb(15, 207, 233);
}