body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.3em;
    width: 100%;
    height: 100%;
    
}

.fondoMenu{
    
    width: 100%;
    height: auto;
    border-radius: 1px ;
    border-color: black;
}


.texto-img {
    color:#ffffff;
    margin-top: -7%;

}

.texto-img h1{
    text-align: left;
    padding-left: 2em;
    font-size: 7vw;
    font-family: 'lobster', cursive;
}

.menu-img .tours-iconos{
    
    padding: 2rem 40%;
    padding-left: 66.5em;
    list-style: none;
    text-decoration: none;
    color: #333;
}

    .menu-img .tours-iconos li{
        display: inline-block;
        background: -moz-linear-gradient(top, #3498db, #51C0FC); /*gradiente que empieza arriba entre 2 colores*/
        background: -webkit-linear-gradient(top, #3498db 1%, #51C0FC);
        margin: 0.3em;
        max-width: 85px;
        max-height: 85px;
    }
        .tours-iconos li img{
            width: 125px;
            height: 100px;
            text-align: center;
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.2s linear;
            text-decoration: none;
            color: #333;
            padding-left: 14%;
        }
        .tours-iconos li:hover {            
            transform: scale(1.2,1.2);

        }



.excursion{
    margin-bottom: 5%;
}

.historia{
    margin-bottom: 5%
}
.excursion .titulo-excursion{
    margin-left: 5em;
    width: 15%;
    height: 15%;
    background: -moz-linear-gradient(top, #3498db, #51C0FC); /*gradiente que empieza arriba entre 2 colores*/
    background: -webkit-linear-gradient(top, #3498db 1%, #51C0FC);

}
    .titulo-excursion img{
        width: 75px;
        height: 62px;

    }
    .titulo-excursion h1{
        
        padding-right: 20%;
        padding-top: 2.2%;
        font-size: 1.2vw;
        font-family: 'lobster', cursive;
        color: white;
        float: right;
    }

    .contenedor{

        background-color: #F5F0EE;

    }


    .contenedor .contenido li{
        display: inline-block;
        text-decoration: none;
        list-style: none;
        width: 220px;
        height: 170px;
    }
        .contenido li img{
            width: 220px;
            height: 170px;
            padding: 0.5rem 1rem;
            transition: all 0.2s linear;
            text-decoration: none;
            list-style: none;
           
        }
        .contenido li img:hover {            
            transform: scale(1.2,1.2);

        }

.historia .titulo-historia{
            margin-left: 5em;
            width: 17%;
            height: 15%;
            background: -moz-linear-gradient(top, #3498db, #51C0FC); /*gradiente que empieza arriba entre 2 colores*/
            background: -webkit-linear-gradient(top, #3498db 1%, #51C0FC);
        
        }
            .titulo-historia img{
                width: 75px;
                height: 62px;
        
            }
            .titulo-historia h1{
                
                padding-right: 16%;
                padding-top: 2.2%;
                font-size: 1.2vw;
                font-family: 'lobster', cursive;
                color: white;
                float: right;
            }
        
.aventura .titulo-aventura{

    margin-left: 5em;
    width: 18%;
    height: 15%;
    background: -moz-linear-gradient(top, #3498db, #51C0FC); /*gradiente que empieza arriba entre 2 colores*/
    background: -webkit-linear-gradient(top, #3498db 1%, #51C0FC);
    }
    .titulo-aventura img{
        width: 75px;
        height: 62px;
                
    }
    .titulo-aventura h1{
        padding-right: 9%;
        padding-top: 2.2%;
        font-size: 1.2vw;
        font-family: 'lobster', cursive;
        color: white;
        float: right;
     }
                
