body{
    background-color: #F5F0EE;
}


.contenedor{
    width: 20%;
    height: 30em;
    margin: 15% 40% 15% 40%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: #D5DCDF 1px 1px 2px 2px ; /*sombra del borde*/

}

h2{
    padding-top: 5%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 30px;
}

.logo{
    width: 60%;
    height: 5em;
    margin: 5% 20% 7% 20%;
    border-radius: 10px;
}

.form{
    width: 59%;
    height: 2em;
    float: left;
    margin-left: 20%;
    border-radius: 10px;
    margin-top: 3%;
}

.btnLogin{
    text-align: center;
    width: 60%;
    height: 3em;
    margin: 10% 20% 5% 20%;
    border-radius: 10px;
    color: #fff;
    background: -moz-linear-gradient(bottom, #00D4FF, #C3F6FF); /*gradiente que empieza arriba entre 2 colores*/
    background: -webkit-linear-gradient(left, #00B9FF 25%, rgb(15, 207, 233) 75%);
    
}

.registro{
    margin-left: 23%;
}