
.slider-auto{
    width: 60% !important;
    height: 40em;
    overflow: hidden;
    margin: auto;
    margin-left: 7%;

}

.slider-auto ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 25s infinite alternate;
}

.slider-auto li{
    width: 100%;
    height: 50%;
    list-style: none;
}

.slider img {
    
    width: 60% !important;
    height: 45% !important;
}

@keyframes cambio{
    0% { margin-left: 0;}
    20%{ margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}